.CFUserTextEncoding
.DS_Store
.IdentityService/
.Rapp.history
.Rhistory
.anaconda/
.azuredatastudio/
.bash_history
.bash_profile
.bash_profile-anaconda3.bak
.bash_profile.pysave
.bash_sessions/
.conda/
.condarc
.config/
.continuum/
.cups/
.docear/
.docker/
.dropbox/
.dvdcss/
.gitconfig
.gitconfig.save
.gitconfig.save.1
.gitconfig.save.2
.gitconfig.save.3
.idlerc/
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.matplotlib/
.mcafee/
.mono/
.npm/
.oracle_jre_usage/
.python_history
.rstudio-desktop/
.spyder-py3/
.ssh/
.tcshrc
.viminfo
.vmware/
.vscode/
.xonshrc
.zshrc
Applications/
Brewfile
Desktop/.DS_Store
Desktop/.localized
"Desktop/2021 TRIP/"
"Desktop/A.Yanar_Supporting Letter.docx"
"Desktop/Audio and Video Recording Using A Mobile Phone.docx"
"Desktop/Cihan- Migration-Integration/"
"Desktop/Honors Academy/"
Desktop/KIDS/
"Desktop/Old Firefox Data/"
Desktop/Python/.DS_Store
Desktop/Python/.ipynb_checkpoints/
"Desktop/Python/0_GOVT 470-670/"
Desktop/Python/15_mayis_siiri.txt
Desktop/Python/20211117_GrandStrategiesofNotSoGrandPowersDrMuqtedarKhan.ics
Desktop/Python/20211215_TheColdWarand21stCenturyAsiaWhatsInandNotInanAnalogyDrAliceBa.ics
Desktop/Python/Alan_Beaulieu_Learning_SQL_EN.pdf
Desktop/Python/Clarusway/
Desktop/Python/Data.txt
"Desktop/Python/Git-GitHub/GIT CheckList (1)"
"Desktop/Python/Git-GitHub/Git Push.jpeg"
Desktop/Python/Git-GitHub/Git-1.jpeg
Desktop/Python/Git-GitHub/Git-2.jpeg
Desktop/Python/Git-GitHub/Git-Pull.jpeg
"Desktop/Python/Git-GitHub/git workshop.txt"
"Desktop/Python/Learning_SQL_EN (1).pdf"
Desktop/Python/MIT/
"Desktop/Python/Project- Basketball/"
"Desktop/Python/Pyhton Cheatsheet-2.png"
"Desktop/Python/Pyhton Cheatsheet-3.jpeg"
"Desktop/Python/Pyhton Cheatsheet-List.jpeg"
"Desktop/Python/Pyhton Cheatsheet.png"
"Desktop/Python/Python Course/"
"Desktop/Python/Python Data Science Handbook.  Essential Tools for Working with Data by Jake VanderPlas (z-lib.org) (1).pdf"
"Desktop/Python/Python Data Science Handbook.  Essential Tools for Working with Data by Jake VanderPlas (z-lib.org).pdf"
Desktop/Python/Python-Cheat-Sheet-3.pdf
"Desktop/Python/Section 2/"
"Desktop/Python/Section 3/"
"Desktop/Python/Untitled Folder/"
Desktop/Python/Untitled.ipynb
Desktop/Python/Untitled1.ipynb
Desktop/Python/beg310.pdf
Desktop/Python/beginnersPythonCheatSheet-01.jpeg
Desktop/Python/illustrated-guide-to-python-3-python-3-10-version.zip
Desktop/Python/ticklabels_rotation.py
"Desktop/Relocated Items.nosync"
"Desktop/SU SAFHASI 10-25 HAZ\304\260RAN (45).JPG"
"Desktop/SU SAFHASI 10-25 HAZ\304\260RAN (46).JPG"
"Desktop/SUSI FP 2021/"
Desktop/Yumru/
Documents/
Downloads/
Dropbox/
GIT/
"GOVT 470 - 11 - Matrices.ipynb"
"GOVT 470 - 12 - Dictionaries-Arrays.ipynb"
"GOVT 470-670 TERR ORG PROJECT - PART 1 .ipynb"
"GOVT470-670 - 13 - TERR.ORG. PROJECT.ipynb"
"July 6th, 2020 A-1 mentoring.ipynb"
LINUX/
Library/
MISY225/
Movies/
Music/
Pictures/
Public/
Sites/
"Tosyali Lecture_5-6.ipynb"
Untitled.ipynb
Zotero/
getting-started/
"iCloud Drive (Archive) - 1/"
"iCloud Drive (Archive)/"
math_funcs_strings_objects.ipynb
mfile.txt
opt/
"tosyali_lecture 3_4.ipynb"
.CFUserTextEncoding
.DS_Store
.IdentityService/
.Rapp.history
.Rhistory
.anaconda/
.azuredatastudio/
.bash_history
.bash_profile
.bash_profile-anaconda3.bak
.bash_profile.pysave
.bash_sessions/
.conda/
.condarc
.config/
.continuum/
.cups/
.docear/
.docker/
.dropbox/
.dvdcss/
.gitconfig
.gitconfig.save
.gitconfig.save.1
.gitconfig.save.2
.gitconfig.save.3
.idlerc/
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.matplotlib/
.mcafee/
.mono/
.npm/
.oracle_jre_usage/
.python_history
.rstudio-desktop/
.spyder-py3/
.ssh/
.tcshrc
.viminfo
.vmware/
.vscode/
.xonshrc
.zshrc
Applications/
Brewfile
Desktop/.DS_Store
Desktop/.localized
"Desktop/2021 TRIP/"
"Desktop/A.Yanar_Supporting Letter.docx"
"Desktop/Audio and Video Recording Using A Mobile Phone.docx"
"Desktop/Cihan- Migration-Integration/"
"Desktop/Honors Academy/"
Desktop/KIDS/
"Desktop/Old Firefox Data/"
Desktop/Python/.DS_Store
Desktop/Python/.ipynb_checkpoints/
"Desktop/Python/0_GOVT 470-670/"
Desktop/Python/15_mayis_siiri.txt
Desktop/Python/20211117_GrandStrategiesofNotSoGrandPowersDrMuqtedarKhan.ics
Desktop/Python/20211215_TheColdWarand21stCenturyAsiaWhatsInandNotInanAnalogyDrAliceBa.ics
Desktop/Python/Alan_Beaulieu_Learning_SQL_EN.pdf
Desktop/Python/Clarusway/
Desktop/Python/Data.txt
"Desktop/Python/Git-GitHub/GIT CheckList (1)"
"Desktop/Python/Git-GitHub/Git Push.jpeg"
Desktop/Python/Git-GitHub/Git-1.jpeg
Desktop/Python/Git-GitHub/Git-2.jpeg
Desktop/Python/Git-GitHub/Git-Pull.jpeg
Desktop/Python/Git-GitHub/Workshop/.gitignore
"Desktop/Python/Git-GitHub/git workshop.txt"
"Desktop/Python/Learning_SQL_EN (1).pdf"
Desktop/Python/MIT/
"Desktop/Python/Project- Basketball/"
"Desktop/Python/Pyhton Cheatsheet-2.png"
"Desktop/Python/Pyhton Cheatsheet-3.jpeg"
"Desktop/Python/Pyhton Cheatsheet-List.jpeg"
"Desktop/Python/Pyhton Cheatsheet.png"
"Desktop/Python/Python Course/"
"Desktop/Python/Python Data Science Handbook.  Essential Tools for Working with Data by Jake VanderPlas (z-lib.org) (1).pdf"
"Desktop/Python/Python Data Science Handbook.  Essential Tools for Working with Data by Jake VanderPlas (z-lib.org).pdf"
Desktop/Python/Python-Cheat-Sheet-3.pdf
"Desktop/Python/Section 2/"
"Desktop/Python/Section 3/"
"Desktop/Python/Untitled Folder/"
Desktop/Python/Untitled.ipynb
Desktop/Python/Untitled1.ipynb
Desktop/Python/beg310.pdf
Desktop/Python/beginnersPythonCheatSheet-01.jpeg
Desktop/Python/illustrated-guide-to-python-3-python-3-10-version.zip
Desktop/Python/ticklabels_rotation.py
"Desktop/Relocated Items.nosync"
"Desktop/SU SAFHASI 10-25 HAZ\304\260RAN (45).JPG"
"Desktop/SU SAFHASI 10-25 HAZ\304\260RAN (46).JPG"
"Desktop/SUSI FP 2021/"
Desktop/Yumru/
Documents/
Downloads/
Dropbox/
GIT/
"GOVT 470 - 11 - Matrices.ipynb"
"GOVT 470 - 12 - Dictionaries-Arrays.ipynb"
"GOVT 470-670 TERR ORG PROJECT - PART 1 .ipynb"
"GOVT470-670 - 13 - TERR.ORG. PROJECT.ipynb"
"July 6th, 2020 A-1 mentoring.ipynb"
LINUX/
Library/
MISY225/
Movies/
Music/
Pictures/
Public/
Sites/
"Tosyali Lecture_5-6.ipynb"
Untitled.ipynb
Zotero/
getting-started/
"iCloud Drive (Archive) - 1/"
"iCloud Drive (Archive)/"
math_funcs_strings_objects.ipynb
mfile.txt
opt/
"tosyali_lecture 3_4.ipynb"
